*{
    font-family: inherit;
}

:root{
    --bs-color1: rgb(20, 127, 225);
    --bs-color2: rgb(250, 109, 24);
}
.color1{
    color: var(--bs-color1);
}
.color2{
    color: var(--bs-color2);
}
.bg-color1{
    background: var(--bs-color1);
}
.bg-color2{
    background: var(--bs-color2);
}
/* Header */
#header{
    z-index: 3;
}
.logo{
    width: 80%;
}
.logo2{
    width: 30%;
}
.fa-search:hover, .fa-heart:hover, .fa-shopping-bag:hover, .fa-user:hover, .item1:hover{
    color: var(--bs-color2);
}
/* Header */
/* Banner */
#discover{
    height: 50vh;
    width: 92%;
    background: url(Images/banner1.jpg) center;
    background-size: cover;
}
h3:hover, h5:hover{
    color: var(--bs-color2);
}
/* Banner */

